<?xml version="1.0" encoding="UTF-8"?>
<!--  
  Copyright (c) 2026 MecidTools
  Licensed under the MIT License. See "MIT License.txt" in the project root for full terms.
 -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="MecidTools Architectural Suite" 
           Manufacturer="majdadin" 
           Version="1.0.0.0" 
           UpgradeCode="a2b3c4d5-e6f7-48a9-b0c1-d2e3f4a5b6c7" 
           Scope="perUser">

    <MajorUpgrade DowngradeErrorMessage="A newer version of this plugin is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- 1. Destination Folders (Bypasses Admin via AppDataFolder) -->
    <StandardDirectory Id="AppDataFolder">
      <Directory Id="AutodeskDir" Name="Autodesk">
        <Directory Id="PluginsDir" Name="ApplicationPlugins">
          <Directory Id="INSTALLFOLDER" Name="MecidTools.bundle">
            <Directory Id="ContentsFolder" Name="Contents" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <!-- 2. Source Components -->
    <ComponentGroup Id="PluginComponents">
      
      <!-- Main Bundle Folder Files -->
      <Component Directory="INSTALLFOLDER" Id="PackageManifest" Guid="b1c2d3e4-f5a6-47b8-bc9d-0e1f2a3b4c5d">
        <File Source="MecidTools.bundle/PackageContents.xml" KeyPath="yes" />
        <RemoveFolder Id="PurgeBundleFolder" On="uninstall" />
      </Component>

      <Component Directory="INSTALLFOLDER" Id="LicenseText" Guid="d4e5f6a7-b8c9-40d1-ae2f-3a4b5c6d7e8f">
        <File Source="MecidTools.bundle/MIT License.txt" KeyPath="yes" />
      </Component>

      <!-- Contents Subfolder Files -->
      <Component Directory="ContentsFolder" Id="LispScript" Guid="c2d3e4f5-a6b7-48c9-bd0e-1f2a3b4c5d6e">
        <File Source="MecidTools.bundle/Contents/open code.lsp" KeyPath="yes" />
      </Component>

      <Component Directory="ContentsFolder" Id="DetailDrawing" Guid="e5f6a7b8-c9d0-41e2-af3b-4c5d6e7f8a9b">
        <File Source="MecidTools.bundle/Contents/custom_detail.dwg" KeyPath="yes" />
        <RemoveFolder Id="PurgeContentsFolder" On="uninstall" />
      </Component>

    </ComponentGroup>

    <!-- 3. Trigger Execution -->
    <Feature Id="ProductFeature">
      <ComponentGroupRef Id="PluginComponents" />
    </Feature>

  </Package>
</Wix>